.box {
    border: 1px solid black;
    border-radius: .5em;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    background-color: white;
}

.main {
    margin-top: 60px;
}

ul {
    padding: 0;
    margin: 5px 0 5px;
}
li {
    list-style: none;
    margin: 10px 0 10px;
}
